
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white; 
    line-height: 1.6;
    text-align: center;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    color: rgb(221, 121, 8);
}

main {
    padding: 20px;
}

.about-section, .importance-section, .team-section, .contact-section {
    margin-bottom: 40px;
}

h2 {
   
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(197, 58, 118);
    font-style: italic;
}


p {
    color: black; 
}

ul {
    list-style-type: none;
}

footer {
    margin-top: 40px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.btn{
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
    padding: 18px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: rgb(237, 121, 27);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
.btn:hover{
    background-color: white;
    color: rgb(237, 121, 27);
}